# Пути проекта для скриптов

Структура проекта преполагает, что все скрипты
(модули, которые располагаются в папке jeeves/scripts)
должны быть запускаемыми из корневой папки проекта.

Для этого до локальных импортов должна быть инициализация пути проекта.

Для импорта модулей из корневой папки проекта используется следующий код:

```python
ROOT_DIR = Path(__file__).parent.parent
sys.path.append(str(ROOT_DIR))
```

А сами локальные импорты должны не содержать "jeeves." в начале.

# Стиль кода

Также старайся писать код, применяя правила оптимизации,
описанные в файле /docs/guides/code_optimization.md.

# Стиль работы с базой данных

Описан в /docs/1 - current/technical/database.md

Основное - это использование декоратора with_queries
из /core/db/decorators.py.
