# Version control
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/

# IDE
.vscode/
.idea/

# Test
tests/
.pytest_cache/
.coverage
htmlcov/

# Project specific
**/exports/
**/sessions/
**/sources/
**/notebooks/
**/docs/
**/logs/
**/data/
**/scripts/
**/tests/

# Misc
*.log
.DS_Store
